.utcTime {
	margin-left:15px;
	font-size:50px;
	font-family:monospace;
	white-space:nowrap;
	color: yellow;
}

.btn-settings {
	height:30px !important;
	float:right;
	margin: 10px;
}

.checkbox {
	padding-right: 10px;
}

.lat-pos,
.lon-pos,
.loc-pos {
	font-size:13px;
	font-family:monospace;
	white-space:nowrap;
	color: #ffffff;
	margin-left: 20px;
}

.aurora {
	float: left;
	width: 300px;
	height: 300px;
	padding: 10px;
}

body {
	background-color: #000000;
	color: #ffffff;
}

