.sat-table {
	color: #00ff66;
	font-family:monospace;
	font-size: 15px;
	width: 520px;
	margin-top: 10px;
	margin-left: 20px;
	background-color: #000000;
}

.sat-table .row {
	white-space: nowrap;
	border-bottom: 1px solid #333;
	padding: 3px 0;
}

.sat-table .row.header {
	font-weight: bold;
	border-bottom: 2px solid #666;
}

.sat-table .item {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.col-name     { width: 200px; }
.col-aos      { width: 70px; text-align: right; }
.col-los      { width: 70px; text-align: right; }
.col-dur 			{ width: 70px; text-align: right; }
.col-distance { width: 70px; text-align: right; }

.left 				{ text-align: left; }

.skyplot {
	float:right;
	margin-right: 50px;
}
