div[id ^= app_mainView_kCMainView_shopView_shopMenuPanel_menuList_port] {
    background-color: #dddddd;
}

div[id ^= app_mainView_kCMainView_shopView_middle_productList_item],
div[id ^= app_mainView_kCMainView_shopView_middle_couponList_item], 
div[id ^= app_mainView_kCMainView_shopView_middle_orderList_item],
div[id ^= app_mainView_kCMainView_shopView_middle_categoryList_item],
div[id ^= app_mainView_kCMainView_shopView_middle_taxList_item],
div[id ^= app_mainView_kCMainView_shopView_middle_deliveryList_item] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid #bbbbbb;
    background-color: #cccccc;
}

#app_mainView_kCMainView_shopView_right_productView_shopMeta label[id $= _label] { 
	float: left;
	width: 110px;
	margin-left: 10px;
	font-size: 13px;
}

#app_mainView_kCMainView_shopView_right_productView_shopMeta label[id $= _label] { 
	font-size: 13px;
	height: 15px;
}

#app_mainView_kCMainView_shopView_right_productView_title_inputDecorator, #app_mainView_kCMainView_shopView_right_productView_title_inputDecorator input {
	width: 495px;
	font-size: 13px;
	height: 15px;
}

#app_mainView_kCMainView_shopView_right_productView {
	background-color: #dddddd;
}
