.misc-table,
.vhf-table,
.hf-table {
	color: #00ff66;
	font-family:monospace;
	font-size: 15px;
	width: 230px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #000000;
}

.header {
  color: #00ccff;
	font-weight: bold;
	text-decoration: underline;
}

.hf-table {
	float: left;
}

.vhf-table {
	float: left;
}

.misc-table {
	float: left;
	width: 500px;
}

.label {
	color: #ffffff;
}

.goodday {
	padding: 10px;
}

.view-picker .onyx-button {
	padding: 4px 8px;
	font-size: 10px;
	background-color: #eaeaea;
	border-radius: 4px;
	width: 70px;
}

.view-picker {
	position: absolute;
	right: 0;
	z-index: 10;
	font-size: 10px;
	opacity: 0.75;
}

.view-picker .onyx-menu-item {
	font-size: 10px;
}

.view-picker:hover {
	opacity: 1;
}
